@font-face {
  font-family: "Mulish-Bold";
  src: local("Mulish-Bold"), url("Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish-ExtraBold";
  src: local("Mulish-ExtraBold"), url("Mulish-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish-Medium";
  src: local("Mulish-Medium"), url("Mulish-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish-Regular";
  src: local("Mulish-Regular"), url("Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish-SemiBold";
  src: local("Mulish-SemiBold"), url("Mulish-SemiBold.ttf") format("truetype");
}
