@import url("https://fonts.googleapis.com/css?family=Mulish:400,700");

body {
  background-color: #f7f9fb;
  margin: 0;
  font-family: "Mulish";
  padding-bottom: 40px;
}

.App {
  max-width: 1160px;
  margin: 0 auto;
}
.InfoPiece {
  display: flex;
  gap: 10px;
}

.InfoPiece-Label {
  font-weight: 700;
  min-width: 112px;
  /* TODO denis table-like behavior */
}

.InfoPiece-Data {
  color: #728a96;
}
.Button {
  font-weight: 700;
  background-color: #0088CC;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}

.Button-disabled {
  background-color: #CCCCCC;
  cursor: not-allowed;
}#myVerifierFiles {
  border-right: 1px solid #f7f9fb;
}

#myVerifierContent code {
  background-color: #fff;
  font-size: 16px;
}

#myVerifierFiles .contract-verifier-file.active {
  border-right: 2px solid #0088cc;
}

.myVerificationProof {
  background-color: #f7f9fb;
  border: 1px solid #728a9619;
  border-radius: 20px;
  width: 400px;
  padding: 20px 10px;
}
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#383a42;background:#fafafa}.hljs-comment,.hljs-quote{color:#a0a1a7;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#a626a4}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e45649}.hljs-literal{color:#0184bb}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#50a14f}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#986801}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#4078f2}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#c18401}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}.FilesDropzone {
  background-color: #F7F9FB;
  text-align: center;
  height: 148px;
  border: 1px dashed #E3E8EA;
  color: #728A96;
  border-radius: 20px;
  line-height: 148px;
  cursor: pointer;
}

.FilesDropzone:hover {
  border: 1px dashed #9da3a5;
}/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
