/*TODO delete*/
.Button {
  font-weight: 700;
  background-color: #0088cc;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}

.Button-disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
