#myVerifierFiles {
  border-right: 1px solid #e8e8e8;
  width: 240px;
  font-weight: 500;
  font-size: 14px;
}

#myVerifierContent code {
  background: #fff;
  font-size: 14px;
  max-width: 100%;
  line-height: 25px;
  padding-left: 20px;
  max-height: 800px;
}

#myVerifierFiles .contract-verifier-file.active {
  background: #f7f9fb;
}

#myVerifierFiles .contract-verifier-tree-item {
  padding: 13px 6px;
}
