#myVerifierFiles {
  border-right: 1px solid #f7f9fb;
  max-width: 150px;
  font-weight: 600;
  font-size: 11px;
}

#myVerifierContent code {
  background-color: #fff;
  font-size: 12px;
  max-width: 600px;
}

#myVerifierFiles .contract-verifier-file.active {
  border-right: 2px solid #0088cc;
}
