#myVerifierFiles {
  border-right: 1px solid #f7f9fb;
  width: 240px;
  font-weight: 600;
  font-size: 14px;
}

#myVerifierContent code {
  background: #fff;
  font-size: 14px;
  max-width: 100%;
}

#myVerifierFiles .contract-verifier-file.active {
  border-right: 2px solid #0088cc;
}
