.InfoPiece {
  display: flex;
  gap: 10px;
}

.InfoPiece-Label {
  font-family: "Mulish-Bold", sans-serif;
  min-width: 100px;
  /* TODO denis table-like behavior */
}

.InfoPiece-Data {
  color: #728a96;
}
