/*TODO delete*/
.InfoPiece {
  display: flex;
  gap: 10px;
}

.InfoPiece-Label {
  font-weight: 700;
  min-width: 112px;
  /* TODO denis table-like behavior */
}

.InfoPiece-Data {
  color: #728a96;
}
