.TopBar {
  display: flex;
  gap: 10px;
  font-family: "Mulish-ExtraBold", sans-serif;
  color: white;
}

.TopBar-Right {
  align-self: flex-end;
  display: flex;
  margin-left: auto;
  gap: 10px;
  align-items: center;
}
